.row {
  margin-left: 20px;
  color: white;
}

.row_first {
  margin-top: -7em;
  position: relative;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 128px;
  transition: transform 450ms;
  margin-right: 10px;
  border-radius: 4px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

/* Keep the scrolling function but hide the scroll icon */
.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}

.row h2 {
  font-size: 1.6vw;
  font-weight: 500;
  margin-left: 8px;
  margin-bottom: 0px !important;
  color: #e5e5e5;
}

.card_title {
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 1.75rem;
  color: white;
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease-in-out 100ms;
}

.card__content__description__header {
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}

.row_poster:hover .card_title {
  opacity: 1;
}

.card__content__icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.75rem;
}
