.netflix-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 300ms ease-in-out 100ms;
}

.nav-black {
  background-color: rgb(20, 20, 20);
}

.net-img {
  padding: 20px 20px 15px 50px;
  width: 150px;
}
